[submodule "external/hidapi"]
	path = external/hidapi
	url = git://github.com/signal11/hidapi.git
[submodule "external/PS3EYEDriver"]
	path = external/PS3EYEDriver
	url = git://github.com/inspirit/PS3EYEDriver.git
[submodule "external/libusb-1.0"]
	path = external/libusb-1.0
	url = https://github.com/libusb/libusb.git
[submodule "external/SDL2"]
	path = external/SDL2
	url = https://github.com/spurious/SDL-mirror
