#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_auto_configure override_dh_strip  override_dh_installdocs

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
DEB_CMAKE_EXTRA_FLAGS += -DPSMOVE_USE_DEBUG:BOOL=YES
endif

DEB_CMAKE_EXTRA_FLAGS += -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo

DH_FLAGS = --parallel --buildsystem=cmake

%:
	dh $@ $(DH_FLAGS)

override_dh_auto_configure:
	dh_auto_configure $(DH_FLAGS) -- $(DEB_CMAKE_EXTRA_FLAGS) ..

override_dh_strip:
	dh_strip -plibpsmoveapi3 --dbg-package=libpsmoveapi3-dbg
	dh_strip -plibpsmoveapi-tracker3 --dbg-package=libpsmoveapi-tracker3-dbg

override_dh_installdocs:
	dh_installdocs --link-doc=libpsmoveapi3
